<body class="background">

<h2 id="login">Login</h2> 
<div id="goback">
	<a class="btn btn-primary" href="/">
      <i class=" fa fa-arrow-left"></i>Go Back</a>
</div>
<form action='/sessions' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p id="login">Email:<input type="text" name="session[email]"></p>
  <p id="login">Password:<input type="password" name='session[password]'/></p>
  <p><input type='submit' value='&#xf090; Login' class="btn fa-input1"  /></p>
</form>
    
<% if flash[:error] %>
<ul>
	<li><%= flash[:error] %></li>
</ul>
<% end %>
</body>