<h2>Login</h2> 

<form action='/sessions' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>Email:<input type="text" name="session[email]"></p>
  <p>Password:<input type="password" name='session[password]'/></p>
  <p><input type='submit' value='&#xf090; Login' class="btn fa-input1"  /></p>
</form>
    <a class="btn btn-primary" href="/">
      <i class=" fa fa-arrow-left"></i>Go Back</a>
<% if flash[:error] %>
<ul>
	<li><%= flash[:error] %></li>
</ul>
<% end %>
