<h1> Welcome to PriceCompare! </h1>
<fieldset>
	<legend>Please Register or Login </legend>

	    <a class="btn btn-warning" href="/users/new">
	      <i class=" fa fa-rocket"></i>Register</a>
	    <a class="btn btn-info" href="/sessions/new">
	      <i class=" fa fa-space-shuttle"></i>Login</a>
	<p><%= notice %></p>
</fieldset>