<h1> Welcome to PriceCompare! </h1>
<h3>Please Register or Login </h3>

<a href="/users/new"><button>Register</button></a>
<a href="/sessions/new"><button>Login</button></a>

<p><%= notice %></p>