<body class="background">
	<div id="index">
		<h1 class="welcome" id="title"> We're bringing enthusiasts together.</h1>
		<h4 class="welcome" id="subtitle">Join the largest community commerce platform in the world.</h4>
	    <a class="btn btn-warning btn-lg" id="mainrocket" href="/users/new">
	      <i class=" fa fa-rocket"></i>Register</a>
	    <a class="btn btn-info btn-lg" id="mainshuttle" href="/sessions/new">
	      <i class=" fa fa-space-shuttle"></i>Login</a>
		<p><%= notice %></p>
	</div>
</body>