<body class="background">
  <fieldset class="col md-5">
    <h3>Register</h3>
    <form action='/users' method='post'>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <p>First Name<br><input type='text' name='user[first_name]' /></p>
      <p>Last Name<br><input type="text" name='user[last_name]'/></p>
      <p>Email<br><input type="text" name="user[email]"></p>
      <p>Password<br><input type="password" name='user[password]'/></p>
      <p>Confirm Password<br><input type="password" name="user[password_confirmation"></p>
      <p><input type='submit' value='&#xf1d8; Create' class="btn fa-input2" /></p>
    </form>
        <a class="btn btn-primary" href="/">
          <i class=" fa fa-spinner fa-spin"></i>Go Back</a>
    <% if flash[:error] %>
    <ul>
    	<% flash[:error].each do |t| %> 
    	<li><%= t %></li>
    	<% end %>
    </ul>
    <% end %>
  </fieldset>
</body>