<html>
<head>
	<title></title>
</head>
<body>
	<h3 id="search-heading">What are you looking for ?</h3>
	<a class="btn btn-danger" href="/signout">
			<i class="fa fa-trash-o fa-lg"></i>Logoff</a>
	<div class="inner-addon left-addon">
		<form action='/mains' method='post'>
		  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		  <i class="glyphicon glyphicon-hand-right"></i>
		  <p><input type='text' name='user[search_key]' class="form-control" placeholder="I am looking for..."></p>
		  <input type="hidden" name="user[user_id]" value="<%= session[:user_id]%>">
		  <p><input type='submit' value='&#xf002; Search' class="btn fa-input" id="search" /></p>
		</form>
	</div>
<% if flash[:error] %>
<ul>
	<% flash[:error].each do |t| %> 
	<li><%= t %></li>
	<% end %>
</ul>
<% end %>
<h2>Recent searches:</h2>
<ul>
<% @searchedhistory.each do |t| %>
<li><%= t.search_key %></li>
<% end %>
</ul>
</body>
</html>