/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 *= require font-awesome
 */
#container{
	margin: 0 auto;
	width: 50%;
}
.welcome{
    color: ghostwhite;
}
#title{
    font-size: 50px;
    font-weight: 500;
}
#subtitle{
    font-size: 30px;
    font-weight: 100;
}
.background{
    background-image: url("search_paper.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.price{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
}
.col-md-4{
    margin-bottom: 15px;
}
.itemtitle{
    font-size: 17px;
}
.starimg{
    margin: 0;
}
#index{
    text-align: center;
    margin-top: 40%;
}
#login{
    color: tan;
    display: inline-block;
}
#goback{
    display: inline-block;
    margin: 0;
    margin-left: 50%;
}
#mainrocket{
    font-size: 25px;
}
#mainshuttle{
    font-size: 25px;
}
/*fieldset legends start*/
fieldset {
    width: 300px;
    text-align: center;
    border: 3px groove #eee !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    background-color: white;
}

/*fieldset legend end*/