// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* font-awesome input for register,create */
.fa-input2 {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #66FF66;
  color: white;
  padding-left: 37px;
  padding-right: 37px;
}